<form>
    <div class="form-control">
        <label class="mb-3">Product Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Enter Product Name"/>
    </div>


</form>

